<div class="row contact-wrap"> 
    <div class="center">
		<h2>Tipo de Egreso </h2>
		<p class="lead">Seleccione el tipo de egreso a registrar.</p>
		</div>
		<div class="col-lg-3 col-sm-2 col-xs-12">
        </div>
		<div class="col-lg-6 col-sm-8 col-xs-12">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h2 style="margin-top:37px;" > <i class="fa fa-briefcase"></i> Licitación </h2>
				<a class="btn btn-default col-xs-12 col-sm-12 col-lg-12" style="margin-top:20px" href="#!/registrar_licitacion" ><i class="fa fa-calendar-check-o"></i> Registrar Licitación</a>
				<a class="btn btn-default col-xs-12 col-sm-12 col-lg-12" style="margin-top:20px" href="#!/cuentas_licitacion"><i class="fa fa-calendar-o"></i> Cuentas Licitación</a>
			</div>
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h2 style="margin-top:37px;" ><i class="fa fa-shopping-cart"></i> Compra Directa</h2>
				<a class="btn btn-default col-xs-12 col-sm-12 col-lg-12" style="margin-top:20px" href="#!/compraDirecta/create" ><i class="fa fa-calendar-plus-o"></i> Solicitud de Compra</a>
		    </div>
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h2 style="margin-top:37px;" > <i class="fa fa-truck"></i> Recepción de Materiales</h2>
				<a class="btn btn-default col-xs-12 col-sm-12 col-lg-12" style="margin-top:20px" href="#!/productos" ><i class="fa fa-calendar-check-o"></i> Registrar Guía de despacho</a>
		    </div>
        </div>
</div><!--/.row-->

<div class="col-lg-12 col-sm-12 col-xs-12 center">
	<a class="btn btn-default" style="margin-top:20px" href="#!/home_administrativo"><i class="fa fa-back"></i>  Atrás</a>
	<a class="btn btn-danger " style="margin-top:20px" href="#!/home_administrativo"><i class="fa fa-times"></i> Cancelar</a>
</div>
