<div class="row contact-wrap"> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
		<h2> <i class="fa fa-home"></i> Inicio </h2>
		<p class="lead">Seleccione una tarea a realizar:</p>
	</div>
	<div class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
		<a class="btn btn-default btn-lg col-lg-12 col-sm-12 col-xs-12" style="margin-top:20px" href="#!/resumen_financiero"><i class="fa fa-line-chart"></i> Resumen Financiero</a>
		<a class="btn btn-default btn-lg col-lg-12 col-sm-12 col-xs-12" style="margin-top:20px" href="#!/resumen_ingresos"><i class="fa fa-money"></i> Ingresos</a>
		<a class="btn btn-default btn-lg col-lg-12 col-sm-12 col-xs-12" style="margin-top:20px" href="#!/resumen_egresos" ><i class="fa fa-shopping-cart"></i> Egresos</a>
	</div>
</div>