<div class="row contact-wrap"> 
    <div class="center">
		<h2>Tipo de Paciente </h2>
		<p class="lead">Seleccione el tipo de pago.</p>
		</div>
		<div class="col-lg-2 col-sm-3 col-xs-12">
        </div>
		<div class="col-lg-8 col-sm-6 col-xs-12">
			<a class="btn btn-default btn-lg col-lg-12 col-sm-12 col-xs-12" style="margin-top:20px" href="#!/pacientes"><i class="fa fa-user"></i> Paciente Registrado</a>						
			<a class="btn btn-default btn-lg col-lg-12 col-sm-12 col-xs-12" style="margin-top:20px" href="#!/pacientes/create"><i class="fa fa-plus"></i> Agregar Nuevo Paciente</a>
        </div>
</div><!--/.row-->

<div class="col-lg-12 col-sm-12 col-xs-12 center">
	<a class="btn btn-default" style="margin-top:20px" href="#!/home_administrativo"><i class="fa fa-back"></i> Atrás</a>
	<a class="btn btn-danger " style="margin-top:20px" href="#!/home_administrativo"><i class="fa fa-times"></i> Cancelar</a>
</div>
